* {
    font-family: 'Open Sans', sans-serif;
    
}

body{
    background-color: #202020;
    margin: 0;
}

h2{
    padding: 10px 30px;
    color: #ffffff;
}

div#form {
    background-color: #dbdbdb;
    width: 100%;
}

td {
    padding: 10px;
    width: auto;
}

input[type=text], input[type=email], input[type=password], input[type=date] {
    width: 70%;
    padding: 10px;
    margin: 5px 0 20px 0;
    border: none;
}


textarea {
    width: 70%;
    min-height: 100px;
    padding: 10px;
    border: none;
    resize: none;
}

select {
    width: 70%;
    padding: 10px;
    margin: 5px 0 20px 0;
    border: none;
}

input[type=submit] {
    background-color: #29ac2d;
    color: white;
    padding: 10px 30px 10px 30px;
    border: none;
    font-size: 20px;
}

input:hover {
    background-color: #d9d7e9;
}

input[type=submit]:hover {
    background-color: #3cba3c;
}