table{
    border-collapse: collapse;
    text-align: left;
    
}
td, th {
    border-collapse: collapse;
    width: 150px;
    padding: 10px;
}

#tab3 td, th {
    border-collapse: collapse;
    width: 100px;
    padding: 10px;
}